<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zhejiangart.mapper.ApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.zhejiangart.model.vo.Apply">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="real_name" property="realName" />
        <result column="shenhe" property="shenhe" />
        <result column="card_number" property="cardNumber" />
        <result column="card_front" property="cardFront" />
        <result column="card_back" property="cardBack" />
        <result column="card_nature" property="cardNature" />
        <result column="card_image" property="cardImage" />
        <result column="card_card" property="cardCard" />
        <result column="bank_card" property="bankCard" />
        <result column="bank_address" property="bankAddress" />
        <result column="identity_desc" property="identityDesc" />
        <result column="type" property="type" />
        <result column="apply_time" property="applyTime" />
        <result column="refuce_text" property="refuceText" />
        <result column="major" property="major" />
    </resultMap>

</mapper>
