<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zhejiangart.mapper.AuctionItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.zhejiangart.model.vo.AuctionItem">
        <id column="id" property="id" />
        <result column="auction_id" property="auctionId" />
        <result column="product_id" property="productId" />
        <result column="reserve_price" property="reservePrice" />
        <result column="starting_price" property="startingPrice" />
        <result column="bid_increment" property="bidIncrement" />
        <result column="current_price" property="currentPrice" />
        <result column="current_winner_id" property="currentWinnerId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="sale" property="sale" />
        <result column="refuse_desc" property="refuseDesc" />
        <result column="is_featured" property="isFeatured" />
        <result column="user_id" property="userId" />
        <result column="auction_time" property="auctionTime" />
        <result column="deposit" property="deposit" />
    </resultMap>

</mapper>
