<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zhejiangart.mapper.EventMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.zhejiangart.model.vo.EventMessage">
        <id column="message_id" property="messageId" />
        <result column="event_id" property="eventId" />
        <result column="event_title" property="eventTitle" />
        <result column="event_start_time" property="eventStartTime" />
        <result column="event_end_time" property="eventEndTime" />
        <result column="event_location" property="eventLocation" />
    </resultMap>

</mapper>
